## Web_scraping with Selenium

### Answer 1 :: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data

In [2]:
# importing all  the neccessary libs
import pandas  as pd
import numpy  as np
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
# Finding web element for search job bar using id
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
# finding web element for search loc bar using relative xpath
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc

In [7]:
# finding web element for job location bar
search_loc.send_keys('Bangalore')

In [8]:
# clicking using absolute xpath function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [9]:
search_btn.click()

# Extracting job titles

In [10]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="7fc37e38-cc86-4d1f-9f1a-8ba0729518ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="8e69013e-b66c-4501-a4e7-083571d52079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="b75c3905-29fa-4da0-af48-82a533fabc5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="a507bafe-8eb4-404c-a371-16f40d89b159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="8d8a7e1e-a4c2-45a2-b184-b9f6c672ed3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="906fcfc2-fbc0-47ca-a0e7-73704bf4259f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="1a3b913e-5d8f-46c7-928b-29f87bf4c60d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="82267764-f1a0-46ab-b2ee-7a07d0ff2834")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="10e69d05-4313-453f-ae2f-5d82baee0f1c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="815332e7-752c-42f0-8cb7-ea4928727fe3")>]

In [11]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Software Technical Expert - Data Analyst',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Data Analyst',
 'Big data analyst',
 'Data Analyst/Senior Data Analyst',
 'Data Analyst - Marketplace',
 'Hiring Data Analysts - Virtusa',
 'Data Analyst 2',
 'Senior Data Analyst II']

# Extracting company names

In [12]:
# Let's exrtract all web elements having company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="ec8d72c6-a2a9-434f-bd2d-5d6c5549927b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="8c66dffc-f3eb-4e4f-9805-0b755ddf4985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="c3654586-b64c-448e-bab5-34b1b0523b82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="b8580406-2fad-4442-a538-3c7a6f06d1dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="febb91cc-5377-440b-83a6-ffe38ac489a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="6d3e11c6-9418-496b-88ef-baf529f33531")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="fb2a22f8-1202-4377-9d3c-b53281f2908c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="37ec2326-046c-451f-9524-9f7cc3ca38e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="4f376f63-50d2-43ca-9194-670658a4730f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="9ade77fe-0c6f-479c-84e4-8f9b7f71616f")>]

In [13]:
# so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Schneider Electric',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'Jio',
 'Accolite Software India Pvt Ltd',
 'Meesho',
 'Gojek',
 'Virtusa',
 'PayPal',
 'Flipkart']

# Extracting Experience

In [14]:
# Let's exrtract all web elements having experience using parent tag
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="ac1e3ef3-282d-4eef-82be-ea73762901b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="473ea286-a131-4f4b-90d8-3fae272b3ce2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="0ec31b89-1d17-454e-bfa0-a7f07d08d895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="befa61e3-9b9e-4843-882b-4500e2bee837")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="6454e14e-90b1-4b26-b94e-57132698cc1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="e2116c8e-90af-41c1-ae6c-aaa31651886b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="2aa06cb1-da28-49a6-b056-e4eaa78cfb10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="5cc47ae4-f8d3-4e71-838f-16eb7dcbd0fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="71c0bd89-8a9d-42e3-9fa6-153571a38c3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="bd23f489-646d-429d-ab80-c8d2a2615b27")>]

In [15]:
# so we will run a for loop to iterate over the tags and will extract
experience = []
for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['3-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '8-11 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-6 Yrs']

# Extracting Location

In [16]:
# Let's exrtract all web elements having location using parent tag
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="cd3fc805-13e3-450d-b7d6-7ae6d4e6c935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="e6cad4eb-4737-4666-83c6-30709303aa86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="79edbca6-b516-490d-9d93-9a04d9b29732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="df26447c-408c-4532-a271-df5b0a118bfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="d4c41e0a-7997-410d-a357-c7d6172693be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="f0a9243e-f061-479b-8e75-ade46db842b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="651832ae-6c37-403d-8422-f5514035bec8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="35f8881d-ca8b-4a6d-81df-830f32640253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="11f34602-d05d-4fb9-b25a-bd98da1e3fe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a0dbfb8e6aea98899cda803246861871", element="c108031e-a1f7-4bbe-abb9-f53c63eecf23")>]

In [17]:
# so we will run a for loop to iterate over the tags and will extract
location = []
for i in loc_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company Name'] = company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs[0:10]

,Job Title,Company Name,Experience,Location
0,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru
1,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
2,Sales Data Analyst,NUANCE INDIA PVT LTD,1-3 Yrs,Bangalore/Bengaluru
3,Data Analyst,Jio,8-11 Yrs,Bangalore/Bengaluru
4,Big data analyst,Accolite Software India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru
5,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
6,Data Analyst - Marketplace,Gojek,3-7 Yrs,Bangalore/Bengaluru
7,Hiring Data Analysts - Virtusa,Virtusa,4-8 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
8,Data Analyst 2,PayPal,1-3 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru

## Answer 2 :: A program to scrape data for “Data Scientist” Job position in “Bangalore” location.

## You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [19]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [20]:
url = 'https://www.naukri.com/'
driver.get(url)

In [21]:
# Finding web element for search job bar using id
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [22]:
search_job.send_keys('Data Scientist')

In [23]:
# finding web element for search loc bar using relative xpath
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc

In [24]:
# finding web element for job location bar
search_loc.send_keys('Bangalore')

In [25]:
# clicking using absolute xpath function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [26]:
search_btn.click()

# Extracting job titles

In [27]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="58abbf62-5177-4a03-a325-233ac2005627")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="4f1d08cc-86d4-49fa-bd49-d779d371a1e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="c0c3cb05-c4db-452f-9554-3ddf22b1ce36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="7a5c7e56-fbe6-4503-bf1e-44d587544244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="d67fd5e0-c130-4cf3-a3da-ea5014233f55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="27f4d38d-db58-4fa7-9841-4129689d76e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="4e107ada-a6aa-4676-972e-588b2c1240b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="e2252ceb-9e45-431a-a405-c2bf79227a9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="810906ab-095a-49fa-af68-4837e323e886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="9e362b71-3130-425d-ae0b-cebfd3e129ae")>]

In [28]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Opening For SAS Data Scientist_Senior (MNC_Big4)',
 'Senior Data Science Engineer']

# Extracting company names

In [29]:
# Let's exrtract all web elements having company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="feef006a-ae5b-4982-a749-f6a5e7280bc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="313153d1-f14f-41d6-b9b8-4a3900e8f217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="8558bb3d-597f-401e-8e70-4f82578ada84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="8cbefa75-47d1-4692-ae15-1c276a4c8bc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="f6d17772-8e89-4818-8316-f86b8fa11cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="8439eb4e-9b87-4771-8ea6-ee1a4ce9facc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="f511b158-94f2-4ed8-842c-1b188623de3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="cc7b5a45-a3e9-42d5-8e81-f9610889227e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="a0b0fe57-853f-4174-b5f9-88c7d81b7275")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="de00a4f6-a5d2-4130-9b37-b122c004548e")>]

In [30]:
# so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Wipro',
 'Wipro',
 'EXL',
 'PayU',
 'IBM',
 'Walmart',
 'Walmart',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Fractal Analytics']

# Extracting Location

In [31]:
# Let's exrtract all web elements having location using parent tag
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="6d0396a4-bdc0-4b44-980c-886d20ee5ac8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="40e21f01-be26-422c-8fd4-c9146cf874d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="31d24b71-701a-4340-8729-660fed531ea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="440e1b52-eb8e-4dcb-bb6a-34415c44a4ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="1692ce3a-83b8-47d7-b081-342e63f4a3e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="edc65496-3477-4db9-803c-b48496048879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="0ee81215-da6b-4f13-91c3-b75c10622c37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="32884f7a-6af1-431a-9072-cbab827fae86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="6570ad86-2835-41fb-8302-90ba2457683f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="759be299c491ab3211f98b3b4589596e", element="4fbe211c-e1b5-442c-8547-1b293cf9514d")>]

In [32]:
# so we will run a for loop to iterate over the tags and will extract
location = []
for i in loc_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)']

In [33]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company Name'] = company_names
jobs['Location'] = location
jobs[0:10]

,Job Title,Company Name,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
2,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
3,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
6,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
7,Opening For SAS Data Scientist_Senior (MNC_Big4),Allegis Services India Pvt. Ltd.,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
8,Opening For SAS Data Scientist_Senior (MNC_Big4),Allegis Services India Pvt. Ltd.,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
9,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."

Thus we have extracted the 10 data columns for the role Data scientist from naukri .com

#### Answer 3 u have to use the location and salary filter.

#### You have to scrape data for “Data Scientist” designation for first 10 job results.

#### You have to scrape the job-title, job-location, company name, experience required.

#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs from naukri.com

In [122]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [123]:
url = 'https://www.naukri.com/'
driver.get(url)

In [124]:
# Finding web element for search job bar using id
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job

In [125]:
search_job.send_keys('Data Scientist')

In [126]:
# clicking using absolute xpath function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [127]:
search_btn.click()

In [128]:
loc_check = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p')
loc_check

In [129]:
loc_check.click()

In [130]:
salary_check = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[1]/label/p/span[1]')
salary_check

In [131]:
salary_check.click()

In [152]:
# Let's extract all web elements having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

6

In [154]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

6

In [156]:
job_titles

['Hiring For Data Science Intern- DataTrained Education',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Data Scientist']

In [132]:
# Let's exrtract all web elements having location using parent tag
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

6

In [133]:
# so we will run a for loop to iterate over the tags and will extract
location = []
for i in loc_tags:
    location.append(i.text)
len(location)

6

In [157]:
location

['Delhi / NCR, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram']

In [159]:
# Let's exrtract all web elements having company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

6

In [160]:
# so we will run a for loop to iterate over the tags and will extract
company_names = []
for i in company_tags:
    company_names.append(i.text)
len(company_names)

6

In [161]:
company_names

['DataTrained',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Hanu Software Solutions']

In [162]:
# Let's exrtract all web elements having experience using parent tag
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

6

In [163]:
# so we will run a for loop to iterate over the tags and will extract
experience = []
for i in exp_tags:
    experience.append(i.text)
len(experience)

6

In [164]:
experience

['0-2 Yrs', '2-4 Yrs', '2-4 Yrs', '2-5 Yrs', '2-5 Yrs', '6-9 Yrs']

In [151]:
Salary_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(Salary_tags)

6

In [150]:
# so we will run a for loop to iterate over the tags and will extract
Salary = []
for i in Salary_tags:
    Salary.append(i.text)
Salary

['50,000 - 1,25,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [166]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company Name'] = company_names
jobs['Experience'] = experience
jobs['Salary'] = Salary
jobs['Location'] = location
jobs

,Job Title,Company Name,Experience,Salary,Location
0,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"50,000 - 1,25,000 PA.","Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga..."
1,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,Not disclosed,"Delhi / NCR, Pune, Bangalore/Bengaluru"
2,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,Not disclosed,"Delhi / NCR, Pune, Bangalore/Bengaluru"
3,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,Not disclosed,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
4,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,Not disclosed,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
5,Data Scientist,Hanu Software Solutions,6-9 Yrs,Not disclosed,Gurgaon/Gurugram

### Answer 4 :: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

### 1. Brand

### 2. Product Description

### 3. Price

In [29]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [30]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [31]:
#now  checking   for  the sunglasses @  flipkart search box
search_field_designation = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field_designation

In [32]:
search_field_designation.send_keys('sunglasses')

In [33]:
# now we will be  be using  the click search item  to search  for sunglasses  here
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn

In [34]:
search_btn.click()

In [35]:
#now we  will be  scraping  the  brand
brand_tags = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
len(brand_tags)

40

In [36]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brands = []
for i in brand_tags:
    Brands.append(i.text)
len(Brands)

40

In [37]:
Brands

['Fastrack',
 'DAHAAZIL',
 'New Specs',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'SRPM',
 'PIRASO',
 'SUNBEE',
 'SUNBEE',
 'Lee Topper',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Lee Topper',
 'Fastrack',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'Sewell',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'NuVew',
 'New Specs',
 'ROZZETTA CRAFT',
 'Elligator',
 'PIRASO',
 'Lee Topper',
 'LIZA ANGEL',
 'PHENOMENAL',
 'Fastrack',
 'ROYAL SON',
 'SRPM']

In [38]:
#now we  will be  scraping  the  Product desrciption and price
descr_tags = driver.find_elements(By.CLASS_NAME,'IRpwTa')
len(descr_tags)

40

In [39]:
product_desc = []
for i in descr_tags:
    product_desc.append(i.text)
len(product_desc)

40

In [40]:
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [41]:
Price = []
for i in price_tags:
    Price.append(i.text)
len(Price)

40

In [42]:
Price

['₹639',
 '₹177',
 '₹264',
 '₹224',
 '₹298',
 '₹719',
 '₹211',
 '₹224',
 '₹259',
 '₹283',
 '₹229',
 '₹195',
 '₹639',
 '₹359',
 '₹499',
 '₹639',
 '₹299',
 '₹1,039',
 '₹949',
 '₹189',
 '₹265',
 '₹246',
 '₹410',
 '₹226',
 '₹719',
 '₹319',
 '₹306',
 '₹283',
 '₹279',
 '₹345',
 '₹299',
 '₹349',
 '₹207',
 '₹246',
 '₹219',
 '₹179',
 '₹369',
 '₹799',
 '₹379',
 '₹207']

In [43]:
page1 = pd.DataFrame()
page1['BRANDS'] = Brands
page1['Product Description'] = product_desc
page1['Price of Products'] = Price
page1[0:40]

,BRANDS,Product Description,Price of Products
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
1,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264
3,PIRASO,UV Protection Aviator Sunglasses (54),₹224
4,Elligator,UV Protection Round Sunglasses (54),₹298
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719
6,SRPM,UV Protection Wayfarer Sunglasses (50),₹211
7,PIRASO,UV Protection Aviator Sunglasses (54),₹224
8,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283
10,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),₹229
11,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639
13,PIRASO,UV Protection Aviator Sunglasses (58),₹359
14,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499
15,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹639
16,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299
17,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039"
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949
19,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189
20,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265
21,PIRASO,UV Protection Aviator Sunglasses (54),₹246
22,PIRASO,UV Protection Over-sized Sunglasses (65),₹410
23,PIRASO,UV Protection Wayfarer Sunglasses (32),₹226
24,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
25,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319
26,PIRASO,UV Protection Rectangular Sunglasses (52),₹306
27,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹283
28,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹279
29,NuVew,UV Protection Sports Sunglasses (62),₹345
30,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299
31,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
32,Elligator,UV Protection Round Sunglasses (53),₹207
33,PIRASO,UV Protection Aviator Sunglasses (55),₹246
34,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219
35,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹179
36,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹369
37,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹799
38,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379
39,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹207

In [44]:
# now  wrirting  the  code  for  the next  button
next_page2 = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page2

In [45]:
next_page2.click()

In [46]:
#now we  will be  scraping  the  brand product description and price from page2
brand_tags = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
descr_tags = driver.find_elements(By.CLASS_NAME,'IRpwTa')
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [47]:
Brands = []
for i in brand_tags:
    Brands.append(i.text)
len(Brands)

40

In [48]:
product_desc = []
for i in descr_tags:
    product_desc.append(i.text)
len(product_desc)

40

In [49]:
Price = []
for i in price_tags:
    Price.append(i.text)
len(Price)

40

In [50]:
page2 = pd.DataFrame()
page2['BRANDS'] = Brands
page2['Product Description'] = product_desc
page2['Price of Products'] = Price
page2[0:40]

,BRANDS,Product Description,Price of Products
0,PIRASO,UV Protection Aviator Sunglasses (54),₹223
1,Mi,Polarized Aviator Sunglasses (Free Size),"₹1,009"
2,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
3,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹213
4,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288
5,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499
6,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹379
7,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹329
8,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (53)",₹299
9,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
10,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹224
11,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
12,kingsunglasses,UV Protection Round Sunglasses (54),₹214
13,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
14,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529
15,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099"
16,Fastrack,UV Protection Round Sunglasses (55),₹979
17,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379
18,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699
19,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹265
20,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639
21,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749
22,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664
23,New Specs,UV Protection Round Sunglasses (Free Size),₹268
24,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹260
25,LIZA ANGEL,"UV Protection, Riding Glasses, Night Vision Sp...",₹169
26,Lee Topper,UV Protection Round Sunglasses (Free Size),₹245
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749
28,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379
29,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719
30,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598
31,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹849
32,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379
33,Mi,Polarized Wayfarer Sunglasses (Free Size),₹849
34,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹189
35,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269
36,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498
37,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721
38,ROYAL SON,Polarized Rectangular Sunglasses (60),₹664
39,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹329

In [51]:
# now  wrirting  the  code  for  the next  button
next_page3 = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page3

In [52]:
next_page3.click()

In [53]:
#now we  will be  scraping  the  brand product description and price from page2
brand_tags = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
descr_tags = driver.find_elements(By.CLASS_NAME,'IRpwTa')
price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

In [54]:
Brands = []
for i in brand_tags:
    Brands.append(i.text)
len(Brands)

40

In [55]:
product_desc = []
for i in descr_tags:
    product_desc.append(i.text)
len(product_desc)

40

In [56]:
Price = []
for i in price_tags:
    Price.append(i.text)
len(Price)

40

In [58]:
page3 = pd.DataFrame()
page3['BRANDS'] = Brands
page3['Product Description'] = product_desc
page3['Price of Products'] = Price
page3[0:40]

,BRANDS,Product Description,Price of Products
0,LIZA ANGEL,"UV Protection, Night Vision, Riding Glasses Ro...",₹199
1,New Specs,UV Protection Aviator Sunglasses (Free Size),₹214
2,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",₹314
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949
4,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399
5,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169"
6,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949
7,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹269
8,PIRASO,UV Protection Aviator Sunglasses (58),₹345
9,PIRASO,UV Protection Butterfly Sunglasses (60),₹405
10,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹232
11,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹949
12,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639
13,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217
14,Rich Club,Polarized Round Sunglasses (48),₹225
15,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹809
16,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449
18,Mi,Polarized Aviator Sunglasses (Free Size),₹949
19,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498
20,GANSTA,UV Protection Aviator Sunglasses (57),₹314
21,Fastrack,UV Protection Sports Sunglasses (Free Size),₹759
22,Ray-Ban,Mirrored Aviator Sunglasses (63),"₹3,124"
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949
24,DEIXELS,UV Protection Wayfarer Sunglasses (Free Size),₹217
25,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹711
26,ROYAL SON,"UV Protection Over-sized, Retro Square Sunglas...",₹664
27,Elligator,UV Protection Aviator Sunglasses (55),₹329
28,Fastrack,UV Protection Aviator Sunglasses (57),₹639
29,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639
30,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹369
31,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹299
32,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498
33,Fastrack,UV Protection Wayfarer Sunglasses (54),₹809
34,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹629
35,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹339
36,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹474
37,VINCENT CHASE,by Lenskart UV Protection Round Sunglasses (58),₹949
38,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹849
39,GHAWK,UV Protection Rectangular Sunglasses (Free Size),₹319

In [59]:
#combining  allin one making  a one  dataframe  using the concat  function 
frames= [page1,page2,page3]
flipkart_sunglasses= pd.concat(frames,sort= False)
flipkart_sunglasses[0:100]

,BRANDS,Product Description,Price of Products
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
1,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264
3,PIRASO,UV Protection Aviator Sunglasses (54),₹224
4,Elligator,UV Protection Round Sunglasses (54),₹298
...,...,...,...
15,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹809
16,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449
18,Mi,Polarized Aviator Sunglasses (Free Size),₹949
19,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498

### Answer5 :: : Scrape 100 reviews data from flipkart.com for iphone phone. You have to go the link:
### above page you have to scrape the tick marked attributes.These are:
### 1. Rating
### 2. Review summary
### 3. Full review
### 4. You have to scrape this data for first 100 review

In [30]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [31]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [32]:
#for  showing  all  the  elements  or for  expanding  the neccessary elements 
show_all_review_button = driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div')
show_all_review_button.click()

In [86]:
#Checking the first review to study its structure
reviews = driver.find_elements(By.CLASS_NAME,'_2wzgFH')
a =reviews[0].text.split('\n')

IndexError: list index out of range

In [ ]:
### There is an servor issue its not working properly.

In [531]:
a

['5',
 'Simply awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Flipkart Customer',
 'Certified Buyer, Mokokchung',
 'Nov, 2020',
 '122721617']

In [498]:
def iPhoneReviewScrapper():
    '''This function scrapes all the iPhone reviews from Flipkarts and then goes to the next page by clicking the Next button'''
    rating = []
    summary = []
    review = []
    
    reviewList = driver.find_elements(By.CLASS_NAME,'_2wzgFH')
    for index in range(len(reviewList)):
        reviewItems = reviewList[index].text.split('\n')
        rating.append(reviewItems[0])
        summary.append(reviewItems[1])
        review.append(' '.join(reviewItems[2:(len(reviewItems)-4)]).replace('  ', ' '))
    
    #Clicking the next button and waiting for 2 seconds
    try:
        #This block is for page 2 and subsiquent pages where there is 'Previous' and 'Next' buttons both of which
        #have the class '_1LKTO3'
        driver.find_elements(By.CLASS_NAME,'_1LKTO3')[1].click()
    except:
        #This exception block is for the first page only where there is only 'Next' button
        driver.find_element(By.CLASS_NAME,'_1LKTO3').click()
    return rating, summary, review

In [499]:
#Scrapping iPhone reviews for the first 10 pages
iPhoneRating = []
iPhoneSummary = []
iPhoneReview = []

for index in range(0, 10):
    r, s, re = iPhoneReviewScrapper()
    iPhoneRating.extend(r)#here we have used extend function  to  add the data stored  in the lists
    iPhoneSummary.extend(s)
    iPhoneReview.extend(re)
    print(f'Review Page {index+1} scrapped')

Review Page 1 scrapped

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x005F6463+2188387]
	Ordinal0 [0x0058E461+1762401]
	Ordinal0 [0x004A3D78+802168]
	Ordinal0 [0x004A6754+812884]
	Ordinal0 [0x004A6612+812562]
	Ordinal0 [0x004A68A0+813216]
	Ordinal0 [0x004D7D63+1015139]
	Ordinal0 [0x004D5F68+1007464]
	Ordinal0 [0x004D3C6B+998507]
	Ordinal0 [0x004D29D9+993753]
	Ordinal0 [0x004C8613+951827]
	Ordinal0 [0x004EC7DC+1099740]
	Ordinal0 [0x004C7FF4+950260]
	Ordinal0 [0x004EC9F4+1100276]
	Ordinal0 [0x004FCC22+1166370]
	Ordinal0 [0x004EC5F6+1099254]
	Ordinal0 [0x004C6BE0+945120]
	Ordinal0 [0x004C7AD6+948950]
	GetHandleVerifier [0x008971F2+2712546]
	GetHandleVerifier [0x0088886D+2652765]
	GetHandleVerifier [0x0068002A+520730]
	GetHandleVerifier [0x0067EE06+516086]
	Ordinal0 [0x0059468B+1787531]
	Ordinal0 [0x00598E88+1805960]
	Ordinal0 [0x00598F75+1806197]
	Ordinal0 [0x005A1DF1+1842673]
	BaseThreadInitThunk [0x76C36739+25]
	RtlGetFullPathName_UEx [0x77D68FEF+1215]
	RtlGetFullPathName_UEx [0x77D68FBD+1165]

In [500]:
#Making a dataframe of all reviews

iPhoneReviewsDf = pd.DataFrame()

iPhoneReviewsDf['Review Title'] = iPhoneSummary
iPhoneReviewsDf['Rating'] = iPhoneRating
iPhoneReviewsDf['Full Review'] = iPhoneReview

iPhoneReviewsDf

,Review Title,Rating,Full Review
0,Perfect product!,5,It’s a must buy who is looking for an upgrade ...
1,Highly recommended,5,It's my first time to use iOS phone and I am l...
2,Perfect product!,5,Value for money❤️❤️ Its awesome mobile phone i...
3,Worth every penny,5,"Smooth like butter, camera like fantabulous, s..."
4,Perfect product!,5,It is just awesome mobile for this price from ...
5,Perfect product!,5,Iphone is just awesome.. battery backup is ver...
6,Terrific,5,Really worth of money. i just love it. It is t...
7,Worth every penny,5,Best budget Iphone till date ❤️ go for it guys...
8,Simply awesome,5,"Excellent camera, good performance, no lag. Th..."
9,Classy product,5,Totally in love with this ❤ the camera quality...

## Answer 6 :: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

### You have to scrape 4 attributes of each sneaker:

### 1. Brand
### 2. Product Description
### 3. Price

In [126]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [127]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [128]:
#now  checking   for  the sneakers @  flipkart search box
search_field_designation = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field_designation

In [129]:
search_field_designation.send_keys('sneakers')

In [130]:
# now we will be  be using  the click search item  to search  for sneakers  here
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn

In [131]:
search_btn.click()

In [134]:
shoe_brand=[]
# here  we  created  a empty  list  for  the storage 
for i in range(0,3):
    brand_tags= driver.find_elements(By.CLASS_NAME,'_2WkVRV')

# so now when extracted  the  data now  we will changing it  to text and iterate over  the  for loop
    for i in brand_tags:
        brand_flip=i.text
        shoe_brand.append(brand_flip)

In [136]:
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [137]:
next_button.click()

In [138]:
brandsframe= pd.DataFrame({})
brandsframe['BrandName']=shoe_brand
brandsframe

                 BrandName
0                   BRUTON
1    HRX by Hrithik Roshan
2                 WOODLAND
3                   BRUTON
4                   BRUTON
..                     ...
115              DUNKASTON
116                   PUMA
117           Robbie jones
118                 Kzaara
119               KWIK FIT

[120 rows x 1 columns]

In [143]:
shoe_description=[]

# here  we  created  a empty  list  for  the storage 

for i in range(0,3):
    shoe_desc= driver.find_elements(By.CLASS_NAME,'IRpwTa')

# so now when extracted  the  data now  we will changing it  to text and iterate over  the  for loop
    
    for i in shoe_desc:
        shoe_tag=i.text
        shoe_description.append(shoe_tag)

In [144]:
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [145]:
next_button.click()

In [147]:
descframe = pd.DataFrame({})
descframe['Shoes_Description']=shoe_description
descframe

                                     Shoes_Description
0    Casual , Partywear Sneakers Shoes For Men's An...
1               Lattest Sneakers Shoe Sneakers For Men
2                            Sneakers Sneakers For Men
3                                     Sneakers For Men
4                                     Sneakers For Men
..                                                 ...
115  Exclusive Affordable Collection of Trendy & St...
116  Men's Combo Pack of 02 Shoes for Men Casual Sn...
117                        411 Casual Sneakers For Men
118                   STYLISH-WHITE-6 Sneakers For Men
119  HRX by Hrithik Roshan Men Blue Perforated Deta...

[120 rows x 1 columns]

In [149]:
shoe_price=[]
# here  we  created  a empty  list  for  the storage 
for i in range(0,3):
    price_shoetag= driver.find_elements(By.CLASS_NAME,'_30jeq3')
# so now when extracted  the  data now  we will changing it  to text and iterate over  the  for loop
 
    for i in price_shoetag:
        price_shoe=i.text
        shoe_price.append(price_shoe)

In [150]:
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [151]:
next_button.click()

In [152]:
priceframe=pd.DataFrame({})
priceframe['Shoe-prices']=shoe_price
priceframe

    Shoe-prices
0          ₹349
1        ₹2,849
2          ₹474
3          ₹496
4        ₹2,449
..          ...
130        ₹630
131        ₹499
132        ₹258
133        ₹699
134        ₹195

[135 rows x 1 columns]

In [153]:
df5 = brandsframe[0:120].join(descframe)
df5  # joining the two frame

                 BrandName                                  Shoes_Description
0                   BRUTON  Casual , Partywear Sneakers Shoes For Men's An...
1    HRX by Hrithik Roshan             Lattest Sneakers Shoe Sneakers For Men
2                 WOODLAND                          Sneakers Sneakers For Men
3                   BRUTON                                   Sneakers For Men
4                   BRUTON                                   Sneakers For Men
..                     ...                                                ...
115              DUNKASTON  Exclusive Affordable Collection of Trendy & St...
116                   PUMA  Men's Combo Pack of 02 Shoes for Men Casual Sn...
117           Robbie jones                        411 Casual Sneakers For Men
118                 Kzaara                   STYLISH-WHITE-6 Sneakers For Men
119               KWIK FIT  HRX by Hrithik Roshan Men Blue Perforated Deta...

[120 rows x 2 columns]

In [154]:
#here is  the  final join of price for the result 
df6= priceframe[0:120].join(df5)
df6

,Shoe-prices,BrandName,Shoes_Description
0,₹349,BRUTON,"Casual , Partywear Sneakers Shoes For Men's An..."
1,"₹2,849",HRX by Hrithik Roshan,Lattest Sneakers Shoe Sneakers For Men
2,₹474,WOODLAND,Sneakers Sneakers For Men
3,₹496,BRUTON,Sneakers For Men
4,"₹2,449",BRUTON,Sneakers For Men
...,...,...,...
115,₹839,DUNKASTON,Exclusive Affordable Collection of Trendy & St...
116,₹599,PUMA,Men's Combo Pack of 02 Shoes for Men Casual Sn...
117,₹630,Robbie jones,411 Casual Sneakers For Men
118,₹449,Kzaara,STYLISH-WHITE-6 Sneakers For Men
119,₹295,KWIK FIT,HRX by Hrithik Roshan Men Blue Perforated Deta...

In [155]:
df6[0:100] #thus  we  have  scraped  all  the  100  data from  the flipkart website

,Shoe-prices,BrandName,Shoes_Description
0,₹349,BRUTON,"Casual , Partywear Sneakers Shoes For Men's An..."
1,"₹2,849",HRX by Hrithik Roshan,Lattest Sneakers Shoe Sneakers For Men
2,₹474,WOODLAND,Sneakers Sneakers For Men
3,₹496,BRUTON,Sneakers For Men
4,"₹2,449",BRUTON,Sneakers For Men
...,...,...,...
95,₹899,RapidBox,Sneakers For Men
96,₹871,HOTSTYLE,"Combo Pack of 3 Casual Shoes, Sneakers For Men"
97,₹499,ONECENTRE,Stylish & Trending Outdoor Walking Comfortable...
98,₹494,corsac,shoe Sneakers For Men
99,₹474,RapidBox,Sneakers For Men

## Answer 7:: scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

## Go to the link - https://www.myntra.com/shoes

In [524]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [525]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [526]:
## We cannot be able to inspect or scrap the data from this website.

## Answer 8 :: Go to webpage https://www.amazon.in/
## Enter “Laptop” in the search field and then click the search icon.
## Then set CPU Type filter to “Intel Core i7”.

In [231]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [232]:
url = 'https://www.amazon.in/'
driver.get(url)

In [233]:
#now  checking   for  the Laptop @  amazon search box
search_field_designation = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field_designation

In [234]:
search_field_designation.send_keys('Laptop')

In [235]:
# now we will be  be using  the click search item  to search  for Laptop  here
search_btn = driver.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')
search_btn

In [236]:
search_btn.click()

In [237]:
#applying  the  filters  now  of core  i7 here 
filter1 = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()

In [238]:
#now  we  will extract the  info according   to i7 core  
icore7_title =[]
i7 = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
i7[0:10]
for i in i7:
    icore=i.text
    icore7_title.append(icore)
    
core_title=icore7_title[:10]
core_title

['Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'HP Envy 11th Gen Intel Evo Core i7 14 inch(35.6 cm) WUXGA Anti-Glare Display 2-in-1 Laptop(16GB RAM/1TB SSD/GTX 1650 4GB Graphics/400 nits/Win 11/MS Office/FPR/B&O/Alexa Built-in/1.59 Kg), 14-eb0021TX',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, RTX 3070 8GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZR-HQ030WS',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN']

In [239]:
icore_prices=[]
i7_pricetag=driver.find_elements(By.CLASS_NAME,'a-price-whole')
i7_pricetag[0:10]
for i in i7_pricetag:
    prices_tag=i.text.strip('[]')
    icore_prices.append(prices_tag)
prices=icore_prices[0:10]
prices

['87,990',
 '83,603',
 '86,990',
 '79,990',
 '86,990',
 '99,700',
 '57,890',
 '1,12,990',
 '1,64,990',
 '75,099']

In [240]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [199]:
#locating Ratings
urls=driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")#collecting urls of all the laptop
UR=[]
Ratings=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element(By.XPATH,"//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [200]:
len(core_title),len(Ratings),len(prices)

(10, 10, 10)

In [201]:
#creating the  dataframe
laptop_df= pd.DataFrame({})
laptop_df['Laptop_Name']=core_title
laptop_df['Laptop_Prices']=prices
laptop_df['Ratings']=Ratings
laptop_df

,Laptop_Name,Laptop_Prices,Ratings
0,Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...,"75,099",3.8 out of 5
1,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,"84,990",4.5 out of 5
2,Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...,"87,990",4 out of 5
3,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,"83,603",4.1 out of 5
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"86,990",4.3 out of 5
5,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,"79,990",3.2 out of 5
6,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,"86,990",3.7 out of 5
7,HP Envy 11th Gen Intel Evo Core i7 14 inch(35....,"99,700",3.7 out of 5
8,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...","57,890",4.2 out of 5
9,"ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...","1,12,990",4.3 out of 5

### Answer 9 :: Write a python program to scrape data for first 10 job results for Data Scientist
### Designation in Noida
### location. You have to scrape company name, No. of days ago when job was posted
### Rating of the company.

In [305]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [306]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [307]:
jobs_button= driver.find_element(By.XPATH,'//a[@class="link jobs"]')
jobs_button.click()

In [308]:
# Finding element for job search bar
search_field_designation= driver.find_element(By.XPATH,'//*[@id="jobs-typeahead"]/span/input')
search_field_designation

In [262]:
search_field_designation.send_keys('Data Scientist')

In [263]:
search_btn=driver.find_element(By.XPATH,'//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button/span')
search_btn

In [264]:
search_btn.click()

In [265]:
#now  finding  the  location from the menu 
location_menu= driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
location_menu.click()

In [266]:
loc_searchbox= driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
loc_searchbox.send_keys('Noida')

In [267]:
selection_box= driver.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [268]:
job_titles=[]
# So lets extract all the tags having the job-titles
titles_tags=driver.find_elements(By.XPATH,"//a[@class='title noclick']")
titles_tags[0:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]
# here  we  have  got  all  the  titles

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist',
 'Data Scientist - NLP',
 'Data Scientist - NLP',
 'Data Science - Lead Data Scientist',
 'Data Scientist - Associate Vice President',
 'Senior Data Scientist - Artificial Intelligence/Machine Learning (4-8 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Data Scientist - Python/SQL/Redshift (4-7 yrs)']

In [270]:
company_names=[]
# So lets extract all the tags having the company names
companies_tags=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
companies_tags[0:10]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]
#  here  we have  got all  the  company names

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'CRMnext',
 'Acidaes Solutions Pvt. Ltd.',
 'Paytm',
 'Paytm',
 'Randstad',
 'Careerera',
 'Telus International']

In [272]:
#find the all  the  ratings  of the  comapany
company_ratings=[]
rate_tags= driver.find_elements(By.CLASS_NAME,"body-small")
for i in rate_tags:
    com_rate=i.text
    company_ratings.append(com_rate)
company_ratings

['4.1', '4.0', '4.0', '4.1', '3.8', '3.7', '3.7', '4.1', '4.6', '4.2']

In [273]:
# days ago  the job was  beings  posted  here 
postings_ago=[]
ago_tags= driver.find_elements(By.XPATH," //div[@class='other-info']/span[1]" )
for i in ago_tags:
    ago_date=i.text
    postings_ago.append(ago_date)
post_day=postings_ago[:10]
post_day

['6d ago',
 '13d ago',
 '1mon ago',
 '7d ago',
 '12d ago',
 '1mon ago',
 '1mon ago',
 '11mon ago',
 '21d ago',
 '11mon ago']

In [274]:
len(post_day)

10

In [275]:
# now we  are  creating  a  single  dataframe   for  all  the  above  extracted  items 
ambition_df = pd.DataFrame({})
ambition_df['Name_of_companies']=company_names
ambition_df['Name of the role']=job_titles
ambition_df['Ratings given']=company_ratings
ambition_df['Days ago posted']=post_day
ambition_df[0:10]

,Name_of_companies,Name of the role,Ratings given,Days ago posted
0,Optum Global Solutions (India) Private Limited,Senior Data Scientist,4.1,6d ago
1,GENPACT India Private Limited,Data Scientist- Forecasting and R or Python,4.0,13d ago
2,GENPACT India Private Limited,Data Scientist,4.0,1mon ago
3,CRMnext,Data Scientist - NLP,4.1,7d ago
4,Acidaes Solutions Pvt. Ltd.,Data Scientist - NLP,3.8,12d ago
5,Paytm,Data Science - Lead Data Scientist,3.7,1mon ago
6,Paytm,Data Scientist - Associate Vice President,3.7,1mon ago
7,Randstad,Senior Data Scientist - Artificial Intelligenc...,4.1,11mon ago
8,Careerera,Data Science Trainer | AI | Machine Learning |...,4.6,21d ago
9,Telus International,Data Scientist - Python/SQL/Redshift (4-7 yrs),4.2,11mon ago

## Answer 10 :: Write a python program to scrape the salary data for Data Scientist designation.
## You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salar

In [12]:
#command for open  the  automation window of browser 
driver = webdriver.Chrome('chromedriver.exe')

In [13]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [14]:
salary_button= driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[4]')
salary_button.click()

In [15]:
search_field_designation= driver.find_element(By.XPATH,'//*[@id="jobProfileSearchbox"]') 
search_field_designation.send_keys('Data Scientist')

In [16]:
search_btn=driver.find_element(By.XPATH,'//div[@class="suggestion_wrap tt-suggestion tt-selectable"]')
search_btn

In [17]:
search_btn.click()

In [18]:
com = driver.find_elements(By.XPATH,'//div[@class="company-info"]')

len(com)

Com=[]



for i in com:

    Com.append(i.text)

Com



Com = [i.split('\n', 1)[0] for i in Com]

Com = Com[0:10]
Com

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service',
 'Deloitte']

In [19]:
#now  we  will scraping  the min   salary by the  comapnies   here 
salary_company=[]
sal_tagmin= driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in sal_tagmin:
    sal_min=i.text
    salary_company.append(sal_min)
    salary_min=salary_company[0:10]

In [20]:
 #This is  the list  for the average  salary
salary_avg=[]    
sal_tagavg= driver.find_elements(By.CLASS_NAME,'averageCtc')
for i in sal_tagavg:
    sal_avg=i.text
    salary_avg.append(sal_avg)

In [21]:
#  now we  will  find  the  max  salary   of  the  employees
salary_max=[]
sal_tagmax= driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in sal_tagmax:
    tag_max=i.text
    salary_max.append(tag_max)
salary_max
max_salary= (salary_max[1:20:2])
max_salary

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [22]:
len(salary_min)

10

In [23]:
#now  we  will  be fetching  the  experience   here 
company_exp=[]
exp_tag= driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_tag:
    com_exp=i.text.replace('\n','')
    company_exp.append(com_exp)
company_exp

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [26]:
#now  creating  the  Dataframe 
scientist_df = pd.DataFrame({})
scientist_df['Comapnay_names']=Com
scientist_df['Minimum_salary']=salary_min
scientist_df['Average_salary']=salary_avg
scientist_df['Maximum_salary']=max_salary
scientist_df['Experiences_req']=company_exp
scientist_df

,Comapnay_names,Minimum_salary,Average_salary,Maximum_salary,Experiences_req
0,Walmart,₹ 25.0L,₹ 30.6L,₹ 36.0L,3 yrs experience (based on 12 salaries)
1,Ab Inbev,₹ 36.0L,₹ 20.8L,₹ 26.2L,3-4 yrs experience (based on 33 salaries)
2,ZS,₹ 15.0L,₹ 16.7L,₹ 22.0L,2 yrs experience (based on 15 salaries)
3,Optum,₹ 26.2L,₹ 15.9L,₹ 22.5L,3-4 yrs experience (based on 32 salaries)
4,Reliance Jio,₹ 11.0L,₹ 15.7L,₹ 26.2L,3-4 yrs experience (based on 21 salaries)
5,Fractal Analytics,₹ 22.0L,₹ 15.5L,₹ 23.0L,2-4 yrs experience (based on 89 salaries)
6,Tiger Analytics,₹ 11.0L,₹ 14.8L,₹ 20.0L,2-4 yrs experience (based on 51 salaries)
7,UnitedHealth,₹ 22.5L,₹ 14.0L,₹ 21.1L,2-4 yrs experience (based on 57 salaries)
8,EXL Service,₹ 5.6L,₹ 13.2L,₹ 21.0L,3-4 yrs experience (based on 21 salaries)
9,Deloitte,₹ 26.2L,₹ 12.8L,₹ 25.0L,2-4 yrs experience (based on 69 salaries)

In [ ]:
####################### PROJECT IS COMPLETED#########################